* {
  margin: 0;
  padding: 0;
  font-family: "Neue Haas Grotesk Text Pro";
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
}
#home {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#home img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#home #circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  height: 70vw;
  border-radius: 50%;
  /* background-color: #fff; */
}

#circle img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
#top {
  position: absolute;
  width: 100%;
  height: 100%;
}
#top img {
  transform: translate(-50%, -50%) rotate(-180deg);
}
#btm {
  position: absolute;
  width: 100%;
  height: 100%;
}

#btm img:nth-child(1) {
  transform: translate(-50%, -50%) scale(2);
}
#btm img:nth-child(2) {
  transform: translate(-50%, -50%) scale(1.5);
}
#btm img:nth-child(3) {
  transform: translate(-50%, -50%) scale(1);
}
#top img:nth-child(1) {
  transform: translate(-50%, -50%) rotate(-180deg) scale(2);
}
#top img:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-180deg) scale(1.5);
}
#top img:nth-child(3) {
  transform: translate(-50%, -50%) rotate(-180deg) scale(1);
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#smcircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 45vw;
  width: 45vw;
  border-radius: 50%;
  background-color: #fff;
}

#home #nav,
#second #nav {
  position: absolute;
  width: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  text-transform: uppercase;
}
#home #btmnav,
#second #btmnav {
  position: absolute;
  width: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  padding: 30px 50px;
}

#nav img {
  width: 90px;
}
#btmnav img {
  width: 90px;
}
#nav h1 {
  font-size: 1.1vw;
}

#centerimg {
  width: 30vw;
  /* background-color: red; */
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

#centerimg h5 {
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 10px;
}

#centerimg #cimage {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

#cimage img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 90%;
  object-fit: cover;
}

#second {
  position: relative;
  width: 100%;
  height: 100vh;
}

#overlay > h1#gallery {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: 2%;
  z-index: 99999;
  font-size: 12vw;
  font-weight: 400;
  text-transform: uppercase;
  pointer-events: none;
  color: #313131;
}

#gola {
  position: absolute;
  z-index: 999999;
  height: 5vw;
  width: 5vw;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #d5a7b4;
}

#overlay > h1#pf {
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%, 0%) rotate(30deg);
  transform-origin: 0% 50%;
  z-index: 99999;
  font-size: 12vw;
  text-wrap: nowrap;
  font-weight: 400;
  text-transform: uppercase;
  pointer-events: none;
  color: #fff;
}

#pinkpart {
  position: absolute;
  top: 120%;
  left: 0;
  width: 30vw;
  padding: 5vw 6vw;
  background-color: #d5a7b4;
}

#stop {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 65%;
  border-bottom: 1px solid #dadada;
}

#sbtm {
  position: relative;
  width: 100%;
  height: 35%;
}

.circle {
  position: absolute;
  top: 150%;
  transform: translate(-50%, -50%);
  width: 14vw;
  height: 14vw;
  border-radius: 50%;
}

#stop .pu {
  left: 45%;
  background-color: #b4aad5;
}

#stop .pi {
  left: 55%;
  background: linear-gradient(to right, #d5a7b4, #d5a7b4);
  /* background-color: #d5a7b4; */
}
#sbtm p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.2vw;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
  line-height: 1;
}

#sbtm p:nth-child(2) {
  opacity: 0;
}
#stop h1 {
  position: absolute;
  z-index: 9999;
  bottom: -11%;
  left: 100%;
  line-height: 1;
  font-size: 25vw;
  font-weight: 100;
  color: #fff;
  text-transform: uppercase;
}

@media (max-width: 500px) {
  #home #nav,
  #second #nav {
    padding: 20px;
  }

  #nav h1 {
    font-size: 4vw;
  }
  #centerimg {
    width: 80vw;
  }

  #centerimg #cimage {
    height: 180px;
  }

  #centerimg h5 {
    margin-bottom: 5px;
  }

  #home #btmnav,
  #second #btmnav {
    padding: 5px 20px;
  }

  #pinkpart {
    width: 80vw;
  }

  #overlay > h1#gallery {
    bottom: 12%;
    font-size: 14vw;
    font-weight: 900;
  }

  #overlay > h1#pf {
    margin-bottom: 12%;
    font-weight: 900;
    font-size: 14vw;
  }
  #gola {
    height: 25vw;
    width: 25vw;
  }
  #home #circle {
    height: 150vw;
    width: 150vw;
  }
  #smcircle {
    height: 95vw;
    width: 95vw;
  }
  #sbtm p {
    font-size: 5vw;
    width: 90%;
    font-weight: 900;
  }
  .circle {
    height: 34vw;
    width: 34vw;
  }
  #stop h1 {
    font-size: 55vw;
    bottom: 5%;
  }
}
